div.bigBox {
    height: 3000px;
    width: 500px;
    background-color: black;
  
}

.box {
    height: 200px;
    width: 200px;
}

.box1 {
    background-color: blue;
}

.box2 {
    background-color: chartreuse;
    position: absolute;
}

.box3 {
    background-color: crimson;
   
}